body{
  font-family: sans-serif;
  text-align:center;
  background:#0f172a;
  color:white;
  padding-top:50px;
}

button{
  padding:12px 25px;
  border:none;
  border-radius:10px;
  background:#22c55e;
  color:white;
  font-size:16px;
  cursor:pointer;

}

header {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(41, 41, 41, 0.678);
    backdrop-filter: blur(10%);
    margin-top: 10px;
    border-radius: 20px;
}

.headerlogo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.headerlogo h1 {
    font-size: 0.5rem;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: white;
}

header nav li{
    color: white;
    font-size: 1rem;
}
