body {
    font-family: sans-serif;
    text-align: center;
    background: #100725;
    color: white;
    padding-top: 50px;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    background: #3b22c53a;
    color: rgb(255, 219, 13);
    font-size: 16px;
    cursor: pointer;
}

header {

    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(41, 41, 41, 0.295);
    backdrop-filter: blur(10%);
    margin-top: -30px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.headerlogo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.headerlogo h1 {
    font-size: 1rem;
}

.h1{
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 20px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: white;
    list-style-type: none;
    width: 50%;
}

header nav li{
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

header nav li:hover{
    color: rgb(255, 219, 13);
    font-size: 1rem;
    cursor: pointer;
}
